
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Document</title>
    <style>
        .active{
            color: red
        }
    </style>
</head>
<body>
    <div id="root">
        <div>
            <input type="text" v-model="todoValue" >
            <button @click="handlebtnClick">submit</button>
        </div>
        <ul>
            <todo-item v-bind:content="item" 
                       v-bind:index="index"  
                       v-for="(item, index) in list" 
                       @delete="handleItemDelete">
            </todo-item>
        </ul>
    </div>
    <!-- v-开头的后面都是js表达式 -->
    <div id="app3">
            <div>{{name}}</div>
            <div v-text="name"></div>
            <div v-html="name"></div>
            </div>
    <script>
        var TodoItem = {
            props: ['content', 'index'],
            template: "<li @click='handleItemClick'>{{ content }}</li>",
            methods: {
                handleItemClick: function(){
                    this.$emit('delete', this.index)
                }
            }
        }

        var app  = new Vue({
            el: '#root',
            components:{
                TodoItem: TodoItem
            },
            data:{
                todoValue: "",
                list: []
            },
            methods: {
                handlebtnClick: function(){
                    this.list.push(this.todoValue)
                    this.todoValue = ""
                },
                handleItemDelete: function(index){
                    this.list.splice(index,1)
                }
            }
        })
        
         var vm3 = new Vue({
            el:"#app3",
            data: {
                name: "<h1> hellow</h1>"
            }
        })
    </script>
    <div style="color: crimson">----计算属性，方法，侦听器-----</div>
    <div id="app4">
        {{fullname}}
        {{age}}
    </div>
    <script>
        var app = new Vue({
            el: "#app4",
            data: {
                firstname: "dell",
                lastname: "jack",
                age: 28
            },
            // 计算属性，只有依赖的值发生变化后，才会重新计算，有缓存
            computed:{
                fullname: {
                    get: function(){
                        return this.firstname + "" + this.lastname
                    },
                    set: function(value){
                        var arr = value.split(" ")
                        this.firstname = arr[0]
                        this.lastname = arr[1]
                    }    
                }
            },
            // // 普通方法
            // methods:{
            //     fullname: function(){
            //         return this.firstname + "" + this.lastname
            //     } 
            // },
            // 侦听器，有缓存
            // watch:{
            //     firstname: function(){
            //         this.fullname = this.firstname + "" + this.lastname
            //     },
            //     lastname: function(){
            //         this.fullname = this.firstname + "" + this.lastname
            //     }
            // }
        })
    </script>

    <div id="app5">
        <div @click="handleClick"
             :class="{active: isactive}"
        >xxxxxx</div>
    </div>
    <script>
        var app5 = new Vue({
            el:"#app5",
            data:{
                isactive: false
            },
            methods:{
                handleClick: function(){
                    this.isactive = !this.isactive
                }
            }
        })
    </script>
</body>
</html>