
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <title>Document</title>
    <style>
        .active{
            color: red
        }
    </style>
</head>
<body>
    <div id="root">
        <div>
            <input type="text" v-model="todoValue" >
            <button @click="handlebtnClick">submit</button>
        </div>
        <ul>
            <todo-item v-bind:content="item" 
                       v-bind:index="index"  
                       v-for="(item, index) in list" 
                       @delete="handleItemDelete">
            </todo-item>
        </ul>
    </div>
    <!-- v-开头的后面都是js表达式 -->
    <div id="app3">
            <div>{{name}}</div>
            <div v-text="name"></div>
            <div v-html="name"></div>
            </div>
    <script>
        var TodoItem = {
            props: ['content', 'index'],
            template: "<li @click='handleItemClick'>{{ content }}</li>",
            methods: {
                handleItemClick: function(){
                    this.$emit('delete', this.index)
                }
            }
        }

        var app  = new Vue({
            el: '#root',
            components:{
                TodoItem: TodoItem
            },
            data:{
                todoValue: "",
                list: []
            },
            methods: {
                handlebtnClick: function(){
                    this.list.push(this.todoValue)
                    this.todoValue = ""
                },
                handleItemDelete: function(index){
                    this.list.splice(index,1)
                }
            }
        })
        
         var vm3 = new Vue({
            el:"#app3",
            data: {
                name: "<h1> hellow</h1>"
            }
        })
    </script>
    <div style="color: crimson">----计算属性，方法，侦听器-----</div>
    <div id="app4">
        {{fullname}}
        {{age}}
    </div>
    <script>
        var app = new Vue({
            el: "#app4",
            data: {
                firstname: "dell",
                lastname: "jack",
                age: 28
            },
            // 计算属性，只有依赖的值发生变化后，才会重新计算，有缓存
            computed:{
                fullname: {
                    get: function(){
                        return this.firstname + "" + this.lastname
                    },
                    set: function(value){
                        var arr = value.split(" ")
                        this.firstname = arr[0]
                        this.lastname = arr[1]
                    }    
                }
            },
            // // 普通方法
            // methods:{
            //     fullname: function(){
            //         return this.firstname + "" + this.lastname
            //     } 
            // },
            // 侦听器，有缓存
            // watch:{
            //     firstname: function(){
            //         this.fullname = this.firstname + "" + this.lastname
            //     },
            //     lastname: function(){
            //         this.fullname = this.firstname + "" + this.lastname
            //     }
            // }
        })
    </script>

    <div id="app5">
        <div @click="handleClick"
             :class="{active: isactive}"
        >xxxxxx</div>
    </div>
    <script>
        var app5 = new Vue({
            el:"#app5",
            data:{
                isactive: false
            },
            methods:{
                handleClick: function(){
                    this.isactive = !this.isactive
                }
            }
        })
    </script>




    <div id="app6">
        <counter ref="one" @change="handlechange"></counter>
        <counter ref="two" @change="handlechange"></counter>
        <div>{{ total }}</div>
    </div>
    <script>
        Vue.component('counter', {
            template: '<div @click="handle_click">{{ number }}</div>',
            data: function(){
                return { number: 0 }
            },
            methods: {
                handle_click: function(){
                    this.number++
                    this.$emit('change')
                }
            }
        })
        var vm = new Vue({
            el:"#app6",
            data: {
                total: 0
            },
            methods:{
                handlechange: function(){
                    this.total = this.$refs.one.number + this.$refs.two.number
                    console.log(this.$refs.one.number)
                    console.log(this.$refs.two.number)
                }
            }
        })
    </script>

    <h3>父子组件传值</h3>
    <!-- 父组件 通过 属性 给子组件传值 -->
    <!-- 子ོ组ོ件使用 props 接受父组件传递过来的数据, -->
    <!-- 但是不能直接更改他,因为可能其他子组件也在使用,需要自己复制一份数据,单向数据流 -->
    <div id="app7">
        <counter :count="1"></counter>
        <counter :count="4"></counter>
    </div>
    <script>
        var counter = {
            props: ['count'], 
            data: function(){
                return {
                    number: this.count
                }
            },
            template: '<div @click="handleclick">{{ number }}</div>',
            methods: {
                handleclick: function(){
                    this.number++;
                    // 子组件 通过 emit 事件触发 传递数据给父组件,
                    this.$emit('chang', 2)
                }
            }
        }

        var vm = new Vue({
            el: '#app7',
        })
    </script>

    <!-- 组件参数校验与非 props 特性 -->
    <!-- 就是子组件能够校验父组件传递过来的数据的类型,等信息是否满足 -->
    <div id="app8">
            <child :content="1"></child >
                <child :content="1"></child >
        </div>
        <script>
            // 子组件 不接受的属性就叫 非props 属性, dom 标签会显示
            Vue.component('child', {
                props: {
                    // 只接受 数字和串类型
                    // content: [Number, String]
                    content: {
                        type: String, // 接受 string 
                        required: true, // 必传
                        default: 'value', // 默认值
                        validator: function(value){ // 长度
                            return value.length > 5
                        }
                    }
                },
                template: '<div>{{ content }}</div>'
            })
    
            var vm = new Vue({
                el: '#app8',
            })
        </script>

        <!-- 给组件绑定原生事件 -->
        <div id="app9">
                <!-- 这里这个事件是 自定义事件,因为 child 值咱们自定义的 模块 ,要触发自定义使用 emit-->
                <!-- <child @click="handleclick"></child>  -->
                <!-- 如何绑定原生事件 -->
                <child @click.navite="handleclick"></child>  
            </div>
            <script>
                Vue.component('child', {
                    props: ['count'], 
                    // 这个叫原生事件 ,因为绑定的原生 div 标签
                    template: '<div @click="handleclick">{{ number }}</div>',
                    methods: {
                        handleclick: function(){

                        }
                    }
                }
                )
        
                var vm = new Vue({
                    el: '#app7',
                    methods: {
                        handleclick: function(){
                            alert('alert')
                        }
                    }
                })
            </script>
</body>
</html>